$sans-serif: 'Helvetica';
$header-bg: #0a0a0a;
$blue: rgb(94, 0, 0);

.header-global {
    height: 90px;
    border-bottom: none;

    .wrapper-header {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.home > header {
    background-color: #5e0000;
}

.courses-container .courses .course {
    border-bottom-color: #5e0000;
}

.courses-container .courses .course .course-image .cover-image .learn-more {
    background-color: #193050;
}

.highlighted-courses .course .course,
.find-courses .courses .course {
    border-color: #a9bbd3;
}